@import url("/css/header.css");
@import url("/css/banner.css");
@import url("/css/carrosel.css");
@import url("/css/tópicos.css");
@import url("/css/contato.css");
@import url("/css/rodapé.css");

:root {
    --cor-de-fundo: #EBECEE;
    --white: #FFFFFF;
    --amarelinho: #EB9B00;
    --azulzinho:#002F52;
    --cinzinha: #474646;
    --cinza-fraco: #858585;
    --black: #000000;
    --azulzinho-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: 'Poppins';
    --fonte-secundaria: "Josefin Sans";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

h1 {
    background:  #ffffff;
}

